
body {
  background-color: var(--neutral--800);
  color: var(--neutral--400);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.667em;
}


.section.top.bottom {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
  color: #fff;
}


.container-default {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}


.inner-container._885px.center,
.inner-container._600px.center {
  margin: 0 auto;
  text-align: center;
}

.inner-container._885px.center {
  max-width: 885px;
}

.inner-container._600px.center {
  max-width: 600px;
}


.text-200 {
  font-size: 14px;
  line-height: 1.6;
}

.medium {
  font-weight: 500;
}

.color-neutral-100 {
  color: #f1f1f1;
}

.display-2.blog-post-page-title {
  font-size: 42px;
  
  margin-top: 12px;
  margin-bottom: 32px;
  color: #fff;
  text-align: center;
}


.flex-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-12px {
  flex-wrap: wrap;
  gap: 12px;
}

.mg-bottom-12px {
  margin-bottom: 30px;
}


.divider-details.large {
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin: 0 12px;
}



.hero-image-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  pointer-events: none;
}
@media (max-width: 1024px) {
  .hero-image-wrapper {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .hero-image-wrapper {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .hero-image-wrapper {
    height: 50vh;
  }
  .display-2.blog-post-page-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 18px;
  color: #fff;
  text-align: center;
}

  .text-200{
     font-size: 15px;
  line-height: 1.6;
  }
  
li {
    margin-bottom: 8px;
    padding-left: 5px;
}
.fs-5 {
    font-size: 1.2rem !important;
}
}