.footer-top h2 {
  font-size: 2rem;
}

.footer-top p {
  font-size: 1.1rem;
  line-height: 1.1rem;
}


.floating-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 25px;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border: none;
}

.phone-btn {
  background-color: #000;
  bottom: 145px;
  color: #fff;
}

.whatsapp-btn {
  background-color: #25D366;
  bottom: 85px;
  color: #fff;
}


@media (max-width: 992px) {
  .footer-top h2 {
    font-size: 1.75rem;
  }

  .footer-top p {
    font-size: 1rem;
  }

  .d-flex.gap-5 {
    gap: 2rem !important;
  }
}

@media (max-width: 767px) {
  .footer-top h2 {
    font-size: 1.5rem;
  }


  .footer-top p {
    font-size: 18px;
    white-space:normal;
  }

  .d-flex.flex-column.flex-sm-row {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}

@media screen and (max-width:479px) {
.btn-primary{
  width: 100%;
  
}

  
}
@media (max-width: 576px) {
  .footer-top h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .footer-top p {
    font-size: 0.9rem;
  }
   .footer-button{
    text-align: center;

   }
}
